.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #1C1E22;
    color: white;
    padding: 15px;
    font-size: 2em;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: #FFE300;
}